
@import "variables-site/variables-site";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700);
@import "style.css";

#tinymce {
	padding: 1em !important;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}