button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button {
	border: 2px solid;
	border-color: $primary-color;
	background-color: transparent;
	border-radius: 100px;
	// background: $color__background-button;
	// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: $primary-color;
	// @include font-size(0.75);
	line-height: 1;
	text-decoration: none;
	padding: .6em 1em .6em;
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	// text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	// 
	
	&.light-color {
		color: $light-color;
		border-color: $light-color;

		&:hover {
			color: darken($light-color, 10%);
			border-color: darken($light-color, 10%);
		}

		&:visited {
			color: $light-color;
		}
	}

	&:visited {
		color: $primary-color;
	}

	&:hover {
		color: lighten($primary-color, 10%);
		border-color: lighten($primary-color, 10%);
		// border-color: $color__border-button-hover;
		// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		// border-color: $color__border-button-focus;
		// box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}