@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700);
@import url(style.css);
#tinymce {
  padding: 1em !important;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
