/*!
Theme Name: Church
Theme URI: http://502mediagroup.com
Author: 502 Media Group
Author URI: http://502mediagroup.com
Description: DO NOT DEACTIVATE OR DELETE THIS THEME! We made it especially for you :)
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: church-502
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Church is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Work Sans", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  letter-spacing: 2px; }
  h1.light-gray, h1.primary-color, h2.light-gray, h2.primary-color, h3.light-gray, h3.primary-color, h4.light-gray, h4.primary-color, h5.light-gray, h5.primary-color, h6.light-gray, h6.primary-color {
    margin: 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em;
  font-weight: 300; }

h5 {
  font-size: 1.25em;
  font-weight: 300; }

h6 {
  font-size: 1em;
  font-weight: 300; }

p {
  margin-top: 0;
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button {
  border: 2px solid;
  border-color: #F27060;
  background-color: transparent;
  border-radius: 100px;
  color: #F27060;
  line-height: 1;
  text-decoration: none;
  padding: .6em 1em .6em;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block; }
  button.light-color,
  input[type="button"].light-color,
  input[type="reset"].light-color,
  input[type="submit"].light-color, .button.light-color, #colophon .newsletter-signup .gform_wrapper input[type="submit"], .know-form .gform_wrapper input.gform_button[type="submit"] {
    color: #FFF;
    border-color: #FFF; }
    button.light-color:hover,
    input[type="button"].light-color:hover,
    input[type="reset"].light-color:hover,
    input[type="submit"].light-color:hover, .button.light-color:hover, #colophon .newsletter-signup .gform_wrapper input[type="submit"]:hover, .know-form .gform_wrapper input.gform_button[type="submit"]:hover {
      color: #e6e6e6;
      border-color: #e6e6e6; }
    button.light-color:visited,
    input[type="button"].light-color:visited,
    input[type="reset"].light-color:visited,
    input[type="submit"].light-color:visited, .button.light-color:visited, #colophon .newsletter-signup .gform_wrapper input[type="submit"]:visited, .know-form .gform_wrapper input.gform_button[type="submit"]:visited {
      color: #FFF; }
  button:visited,
  input[type="button"]:visited,
  input[type="reset"]:visited,
  input[type="submit"]:visited, .button:visited {
    color: #F27060; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover, .button:hover {
    color: #f69a8f;
    border-color: #f69a8f; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #F27060; }
  a:visited {
    color: #F27060; }
  a:hover, a:focus, a:active {
    color: #f69a8f; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1em 1em;
  -webkit-box-align: center;
          align-items: center;
  max-width: 1200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: flex; }
  .admin-bar #masthead {
    top: 46px; }
    @media screen and (min-width: 782px) {
      .admin-bar #masthead {
        top: 32px; } }
  @media screen and (min-width: 1000px) {
    #masthead {
      display: -webkit-box;
      display: flex; } }

.site-branding {
  width: 16em; }
  .site-branding .site-title a {
    color: #FFF;
    display: block;
    height: 4em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }

.site-title {
  margin: 0; }

.main-navigation {
  -webkit-box-flex: 1;
          flex: 1;
  color: #FFF;
  position: relative;
  min-width: 10em;
  text-align: right; }
  .main-navigation .menu-toggle {
    display: none; }
  .main-navigation a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase; }
  .main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  @media screen and (max-width: 999px) {
    .main-navigation .menu-toggle {
      display: inline-block; }
    .main-navigation #primary-menu {
      min-width: 15em;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      text-align: left;
      background: #F27060;
      top: 3.5em;
      right: 0.5em;
      padding: 1em;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
      .main-navigation #primary-menu.open {
        visibility: visible;
        opacity: 1;
        z-index: 1000; }
      .main-navigation #primary-menu::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -1em;
        right: 1em;
        border-left: 1em solid transparent;
        border-right: 1em solid transparent;
        border-bottom: 1em solid #F27060; }
      .main-navigation #primary-menu ul {
        margin-left: 1em; }
      .main-navigation #primary-menu li {
        padding: .5em 0; }
        .main-navigation #primary-menu li a {
          display: block; }
      .main-navigation #primary-menu > li + li {
        border-top: 1px solid #FFF; }
      .main-navigation #primary-menu li.menu-item-has-children > a {
        border-bottom: 1px solid #FFF;
        padding-bottom: .5em; } }
  @media screen and (min-width: 1000px) {
    .main-navigation > ul > li {
      display: inline-block;
      position: relative;
      padding-bottom: 0.5em; } }
  @media screen and (min-width: 1000px) and (min-width: 800px) {
    .main-navigation > ul > li {
      padding-bottom: 1em; } }
  @media screen and (min-width: 1000px) and (min-width: 1000px) {
    .main-navigation > ul > li {
      margin-top: 2em;
      padding-bottom: 2em; } }
  @media screen and (min-width: 1000px) {
      .main-navigation > ul > li + li {
        margin-left: 1em; } }
    @media screen and (min-width: 1000px) and (min-width: 800px) {
      .main-navigation > ul > li + li {
        margin-left: 1.5em; } }
  @media screen and (min-width: 1000px) {
      .main-navigation > ul > li a {
        position: relative; }
      .main-navigation > ul > li.menu-item-has-children > a:after {
        content: '\f107';
        font-family: 'FontAwesome';
        margin-left: 0.5em; }
      .main-navigation > ul > li:hover > .sub-menu {
        display: block; }
      .main-navigation > ul > li:hover.menu-item-has-children > a:before {
        content: '';
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FFF;
        position: absolute;
        bottom: -0.75em;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
    .main-navigation .sub-menu {
      position: absolute;
      display: none;
      width: auto;
      white-space: nowrap;
      text-align: left;
      background: #FFF;
      top: 2em;
      z-index: 10; }
      .main-navigation .sub-menu li {
        overflow: hidden; }
        .main-navigation .sub-menu li.menu-item-has-children > a:after {
          content: '\f105';
          font-family: 'FontAwesome';
          margin-left: 0.5em; }
      .main-navigation .sub-menu a {
        display: block;
        color: #F27060;
        padding: .5em 1em; }
        .main-navigation .sub-menu a:hover {
          color: #f69a8f; }
      .main-navigation .sub-menu .menu-item-has-children:hover .sub-menu {
        display: block;
        position: absolute;
        left: calc(100% + 0.5em);
        top: 3em; }
        .main-navigation .sub-menu .menu-item-has-children:hover .sub-menu:before {
          content: '';
          height: 0;
          width: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid #FFF;
          position: absolute;
          left: -0.5em;
          top: 0.5em; } }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
body, html {
  overflow-x: hidden; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.page-header {
  background-color: #F27060;
  padding: 15% 1em;
  text-align: center;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media screen and (min-width: 800px) {
    .page-header {
      padding: 15% 1em; } }
  .page-header .page-title {
    margin: 0;
    vertical-align: middle; }
    .page-header .page-title:after {
      content: '';
      height: .125em;
      width: 3em;
      background: #FFF;
      display: block;
      margin: 0 auto; }

.page .entry-header, .single .entry-header {
  background-color: #F27060;
  padding: 15% 1em;
  text-align: center;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media screen and (min-width: 800px) {
    .page .entry-header, .single .entry-header {
      padding: 15% 1em; } }
  .page .entry-header .entry-title, .single .entry-header .entry-title {
    margin: 0;
    vertical-align: middle; }
    .page .entry-header .entry-title:after, .single .entry-header .entry-title:after {
      content: '';
      height: .125em;
      width: 3em;
      background: #FFF;
      display: block;
      margin: 0 auto; }

.entry-content {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em; }
  .entry-content > p:not(.full-width) {
    margin-top: 1em; }
  .single .entry-content {
    margin-top: 2em; }

.entry-footer {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em; }

.hr {
  border-bottom: 2px solid;
  width: 6em;
  margin: 1em auto; }
  .hr.primary-color {
    border-color: #F27060; }

hr.hr {
  border: none;
  height: 2px;
  background: currentColor; }
  hr.hr.primary-color-hr {
    background-color: #F27060; }

.wide-wrap {
  max-width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 799px) {
  .hide-on-mobile {
    display: none; } }

.larger {
  font-size: 150%; }

.primary-color {
  background: #F27060;
  color: #FFF;
  padding: 1em; }
  .primary-color + .primary-color {
    margin-top: -1.5em; }
  .primary-color a {
    color: #FFF; }

.light-gray {
  background: #E1E2E4;
  padding: 1em; }
  .light-gray + .light-gray {
    margin-top: -1.5em; }

.full-width {
  margin-left: -600em;
  margin-right: -600em;
  padding-left: 600em;
  padding-right: 600em;
  padding-top: 1em;
  padding-bottom: 1em; }

.primary-color-text {
  color: #F27060; }

.document-icon:before {
  content: '\f15c';
  font-family: 'FontAwesome';
  float: left;
  font-size: 4rem;
  line-height: 1;
  margin-right: 0.25em; }

.event-cats {
  text-align: center;
  margin: 2em auto; }
  .event-cats .button {
    margin-top: 1em; }
    @media screen and (min-width: 800px) {
      .event-cats .button {
        margin-top: 0; } }
  .event-cats .button + .button {
    margin-left: 1em; }

#tribe-events {
  margin-top: 2em; }
  #tribe-events .tribe-events-single-event-title {
    display: none; }

.sunday-events-notice {
  max-width: 800px;
  margin: 0 auto;
  text-align: center; }

.contact-map {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 540px; }

.half {
  width: calc(50% - 1em);
  float: left; }
  .half + .half {
    margin-left: 2em; }

.countdown-clock {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: #F27060;
  color: #FFF;
  line-height: 1;
  padding-top: .5em;
  padding-bottom: .5em; }
  .countdown-clock .time {
    padding: .25em .5em;
    text-transform: lowercase; }
    .countdown-clock .time + .time {
      margin-left: 1em; }
    .countdown-clock .time .value {
      margin-right: .25em;
      font-weight: 700;
      font-size: 120%; }
  .countdown-clock .tagline {
    text-transform: uppercase;
    margin-left: 1em;
    padding-right: 1em;
    text-align: right; }

.blog .entry-header, .archive .entry-header {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em; }
  .blog .entry-header > p:not(.full-width), .archive .entry-header > p:not(.full-width) {
    margin-top: 1em; }

.blog .entry-title, .archive .entry-title {
  margin-bottom: 0; }
  .blog .entry-title a, .archive .entry-title a {
    text-decoration: none; }

.blog .entry-content .wp-post-image, .archive .entry-content .wp-post-image {
  width: 100%;
  height: auto;
  margin-top: 1em; }

.blog .moretag, .archive .moretag {
  margin-top: 1em; }

.post-type-archive-podcast .entry-meta {
  margin: 1em 0; }

.post-type-archive-podcast .podcast_meta {
  margin: 1em 0; }

.single .entry-meta {
  color: #FFF;
  margin-top: 1em; }
  .single .entry-meta a {
    color: #FFF;
    text-decoration: none; }

.single .wp-post-image {
  display: block; }

.tribe-events-button {
  background: #F27060; }

.author-bio {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 2em 0;
  padding: 1em;
  border: 2px solid #F27060;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap; }
  .author-bio .avatar {
    min-width: 25%;
    margin-right: 2em; }
    .author-bio .avatar img {
      width: 100%;
      display: block;
      height: auto;
      border-radius: 50%; }
  .author-bio .information {
    -webkit-box-flex: 1;
            flex: 1;
    min-width: 20em; }
  .author-bio .display-name {
    font-size: 2em;
    font-weight: 700; }

.nav-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em; }
  .nav-links .nav-previous a {
    text-decoration: none;
    display: block;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
    .nav-links .nav-previous a::before {
      content: '\f0a8';
      font-family: 'FontAwesome';
      margin-right: 1em; }
    .nav-links .nav-previous a:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
      .nav-links .nav-previous a:hover::before {
        -webkit-animation-name: bounce-left;
                animation-name: bounce-left;
        -webkit-animation-duration: .5s;
                animation-duration: .5s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
                animation-direction: alternate; }
  .nav-links .nav-next a {
    text-decoration: none;
    display: block;
    -webkit-transition: all .3s linear;
    transition: all .3s linear; }
    .nav-links .nav-next a::after {
      content: '\f0a9';
      font-family: 'FontAwesome';
      margin-left: 1em; }
    .nav-links .nav-next a:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
      .nav-links .nav-next a:hover::after {
        -webkit-animation-name: bounce-right;
                animation-name: bounce-right;
        -webkit-animation-duration: .5s;
                animation-duration: .5s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
                animation-direction: alternate; }

@-webkit-keyframes bounce-left {
  0% {
    -webkit-transform: translateX(0.25em);
            transform: translateX(0.25em); }
  100% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em); } }

@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(0.25em);
            transform: translateX(0.25em); }
  100% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em); } }

@-webkit-keyframes bounce-right {
  0% {
    -webkit-transform: translateX(-0.25em);
            transform: translateX(-0.25em); }
  100% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em); } }

@keyframes bounce-right {
  0% {
    -webkit-transform: translateX(-0.25em);
            transform: translateX(-0.25em); }
  100% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em); } }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

#comments {
  max-width: 800px;
  margin: 2em auto 0; }

#colophon .site-info {
  background: #F27060;
  color: #FFF;
  display: -webkit-box;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  @media screen and (min-width: 800px) {
    #colophon .site-info {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; } }
  #colophon .site-info * {
    margin: 0;
    padding: 0; }
  #colophon .site-info .address {
    font-style: normal;
    margin: 1em; }
  #colophon .site-info .social-links a {
    display: inline-block;
    margin: 0 .5em; }
  #colophon .site-info .social-link {
    display: inline-block;
    font-size: 1.5em;
    background: #FFF;
    color: #F27060;
    padding: .25em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em; }

#colophon .newsletter-signup {
  background: #BBBDC0;
  color: #FFF; }
  #colophon .newsletter-signup .form-wrapper {
    border: 2px solid #FFF;
    padding: 2em;
    max-width: 800px;
    margin: 4em 1em; }
    @media screen and (min-width: 800px) {
      #colophon .newsletter-signup .form-wrapper {
        margin: 4em auto; } }
  #colophon .newsletter-signup .newsletter-cta {
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal; }
  #colophon .newsletter-signup .gform_wrapper {
    margin: 0;
    max-width: 100%; }
    #colophon .newsletter-signup .gform_wrapper form {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
      #colophon .newsletter-signup .gform_wrapper form .gform_body {
        width: auto;
        -webkit-box-flex: 1;
                flex: 1; }
      #colophon .newsletter-signup .gform_wrapper form .gform_footer {
        width: auto; }
    #colophon .newsletter-signup .gform_wrapper label.gfield_label + div.ginput_container {
      margin: 0; }

#info-panel-toggle {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  background: #FFF;
  background-image: url("images/visitor-button.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 35px -10px rgba(0, 0, 0, 0.8); }
  @media screen and (min-width: 600px) {
    #info-panel-toggle {
      height: 6em;
      width: 6em; } }

#info-panel {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
          align-items: stretch;
  -webkit-transform: all 200ms linear;
          transform: all 200ms linear;
  opacity: 0; }
  #info-panel.open {
    visibility: visible;
    opacity: 1;
    z-index: 100; }
    #info-panel.open .inside {
      -webkit-transform: translateX(0%);
              transform: translateX(0%); }
  #info-panel .close {
    position: absolute;
    top: 1em;
    left: 1em; }
  #info-panel .inside {
    width: 100%;
    max-width: 800px;
    background: #FFF;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative; }
    #info-panel .inside .top {
      background: #F27060;
      color: #FFF; }
    #info-panel .inside .bottom {
      background: #FFF; }
    #info-panel .inside .wrap {
      padding: 2em; }
      @media screen and (min-width: 800px) {
        #info-panel .inside .wrap {
          padding: 4em; } }
      #info-panel .inside .wrap h4, #info-panel .inside .wrap h5, #info-panel .inside .wrap h6 {
        text-transform: uppercase;
        margin: 0; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Client
--------------------------------------------------------------*/
/**
 * Client Specific Stuff Should Go Here
 * Example: Home Page, Custom Templates, single customizations, etc.
 */
.home.page #masthead {
  margin-top: 1.5em; }

.home.page .entry-header {
  padding: 12em 1em; }

.home.page .entry-title {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 10vw;
  line-height: 1;
  text-shadow: 1px 1px 1px #000; }
  @media screen and (min-width: 800px) {
    .home.page .entry-title {
      font-size: 5em; } }
  .home.page .entry-title:after {
    margin: 0.125em 0 0;
    box-shadow: 1px 1px 1px #000; }

.home.page .entry-paragraph {
  text-align: left;
  max-width: 1000px;
  margin: 1em auto; }
  .home.page .entry-paragraph > p {
    max-width: 400px;
    text-shadow: 1px 1px 1px #000; }

.home.page .mission-statement {
  background: #E1E2E4;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 150%;
  line-height: 2; }
  .home.page .mission-statement p:last-child {
    margin-bottom: 0; }

.home.page .meet-the-pastor {
  padding: 2em 1em; }
  @media screen and (min-width: 800px) {
    .home.page .meet-the-pastor {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; } }
  .home.page .meet-the-pastor .pastor-headshot {
    text-align: center; }
    .home.page .meet-the-pastor .pastor-headshot img {
      max-width: 200px;
      border-radius: 50%; }
  @media screen and (min-width: 800px) {
    .home.page .meet-the-pastor .pastor-short-bio {
      width: 80%;
      margin-left: 2em; } }

.home.page .banners {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 6em 0; }
  @media screen and (min-width: 1200px) {
    .home.page .banners {
      margin-left: -10em;
      margin-right: -10em;
      margin-left: -20vw;
      margin-right: -20vw; } }
  @media screen and (min-width: 800px) {
    .home.page .banners {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; } }
  .home.page .banners .banner {
    background: #F27060;
    width: 100%;
    padding: 4em 1em;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-shadow: 1px 1px 1px #000; }
    @media screen and (min-width: 800px) {
      .home.page .banners .banner {
        width: 48%; } }
    .home.page .banners .banner + .banner {
      margin-top: 2em; }
      @media screen and (min-width: 800px) {
        .home.page .banners .banner + .banner {
          margin-top: 0; } }
  .home.page .banners .banner-title {
    padding: 1em;
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center; }

.home.page .call-to-actions {
  padding-top: 2em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media screen and (min-width: 800px) {
    .home.page .call-to-actions {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; } }
  .home.page .call-to-actions .call-to-action {
    text-align: center; }
    .home.page .call-to-actions .call-to-action + .call-to-action {
      margin-top: 4em; }
      @media screen and (min-width: 800px) {
        .home.page .call-to-actions .call-to-action + .call-to-action {
          margin-top: 0; } }
  .home.page .call-to-actions .cta-icon {
    font-size: 4em;
    color: #F27060; }
  .home.page .call-to-actions .cta-title {
    margin: 0; }

.home.page .upcoming-event {
  padding-top: 4em;
  padding-bottom: 4em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media screen and (min-width: 800px) {
    .home.page .upcoming-event {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; } }
  @media screen and (min-width: 1200px) {
    .home.page .upcoming-event {
      margin-left: -10em;
      margin-right: -10em; } }
  .home.page .upcoming-event .event-info {
    margin-left: 2em;
    min-width: 50%; }
    .home.page .upcoming-event .event-info .event-title {
      margin: 0;
      color: #F27060;
      font-weight: 700; }
      .home.page .upcoming-event .event-info .event-title a {
        text-decoration: none; }
    .home.page .upcoming-event .event-info .event-time {
      margin: 0; }
    .home.page .upcoming-event .event-info .moretag {
      margin-top: 1em; }

.know-form {
  padding: 4em 1em;
  background-repeat: no-repeat;
  background-size: cover; }
  .know-form > * {
    color: #FFF; }

.know-form-description {
  text-align: center;
  max-width: 800px;
  margin: 1em auto;
  font-size: 2em;
  font-weight: 700; }

.know-form .gform_wrapper {
  max-width: 800px;
  margin: 1em auto; }

.life-issues-title {
  text-align: center;
  margin: 2em 1em; }

.life-issues {
  max-width: 1000px;
  margin: 1em auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  .life-issues .issue {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 4em;
    min-width: 100%; }
    @media screen and (min-width: 500px) {
      .life-issues .issue {
        min-width: 40%;
        width: 40%;
        padding: 0 2em; } }
    @media screen and (min-width: 800px) {
      .life-issues .issue {
        min-width: 30%;
        width: 30%; } }
  .life-issues .issue-title {
    font-size: 1.5em;
    font-weight: 700; }
  .life-issues .issue-description {
    margin-bottom: .5em; }
  .life-issues .issue-link {
    display: block;
    text-align: left; }

.video-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.video-embed iframe, .video-embed object, .video-embed embed, .video-embed video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.menu-open .fluid-width-video-wrapper {
  z-index: -1; }
