#colophon {

	.site-info {
		background: $primary-color;
		color: $light-color;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 1em;
		flex-direction: column;

		@media screen and (min-width: $max-width){
			flex-direction: row;
		}

		* {
			margin: 0;
			padding: 0;
		}

		.address {
			font-style: normal;
			margin: 1em;
		}

		.social-links a {
			display: inline-block;
			margin: 0 .5em;
		}

		.social-link {
			display: inline-block;
			font-size: 1.5em;
			background: $light-color;
			color: $primary-color;
			padding: .25em;
			border-radius: 50%;
			width: 1.5em;
			height: 1.5em;
		}
	}

	.newsletter-signup {
		background: $dark-gray;
		color: $light-color;

		.form-wrapper {
			border: 2px solid $light-color;
			padding: 2em;
			max-width: $max-width;
			margin: 4em 1em;

			@media screen and (min-width: $max-width){
				margin: 4em auto;
			}
		}

		.newsletter-cta {
			font-size: 2em;
			margin: 0;
			text-transform: uppercase;
			font-weight: normal;
		}

		.gform_wrapper {
			margin: 0;
			max-width: 100%;

			form {
				display: flex;
				align-items: center;

				.gform_body {
					width: auto;
					flex: 1;
				}

				.gform_footer {
					width: auto;
				}
			}

			label.gfield_label+div.ginput_container {
				margin: 0;
			}

			input[type="submit"]{
				@extend .button.light-color;
			}
		}
	}

} // END #colophon

#info-panel-toggle {
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 3em;
	height: 3em;
	background: $light-color;
	// z-index: 100;
	background-image: url('images/visitor-button.png');
	background-size: cover;
	background-repeat: no-repeat;
	border: none;
	padding: 0;
	border-radius: 50%;
	box-shadow: 0 0 35px -10px rgba(0,0,0,0.8);

	@media screen and (min-width: 600px){
		height: 6em;
		width: 6em;
	}
}

#info-panel {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	transform: all 200ms linear;
	opacity: 0;

	&.open {
		visibility: visible;
		opacity: 1;
		z-index: 100;

		.inside {
			transform: translateX(0%);
		}
	}

	.close {
		position: absolute;
		top: 1em;
		left: 1em;
	}

	.inside {
		width: 100%;
		max-width: $max-width;
		background: $light-color;
		transform: translateX(100%);
		transition: all 400ms ease;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: relative;

		.top {
			background: $primary-color;
			color: $light-color;
		}

		.bottom {
			background: $light-color;
		}

		.wrap {
			padding: 2em;

			@media screen and (min-width: $max-width){
				padding: 4em;
			}

			h4, h5, h6 {
				text-transform: uppercase;
				margin: 0;
			}
		}
	}
}

