h1, h2, h3, h4, h5, h6 {
	clear: both;
	letter-spacing: 2px;

	&.light-gray, &.primary-color {
		margin: 0;
	}
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
	font-weight: 300;
}

h5 {
	font-size: 1.25em;
	font-weight: 300;
}

h6 {
	font-size: 1em;
	font-weight: 300;
}