/**
 * Client Specific Stuff Should Go Here
 * Example: Home Page, Custom Templates, single customizations, etc.
 */

.home.page {
	#masthead {
		margin-top: 1.5em;
	}
	.entry-header {
		padding: 12em 1em;
	}
	.entry-title {
		text-align: left;
		max-width: $max-width / 4 + $max-width;
		margin: 0 auto;
		font-size: 10vw;
		line-height: 1;
		text-shadow: 1px 1px 1px $black;

		@media screen and (min-width: $max-width){
			font-size: 5em;
		}

		&:after {
			margin: 0.125em 0 0;
			box-shadow: 1px 1px 1px $black;
		}
	}

	.entry-paragraph {
		text-align: left;
		max-width: $max-width / 4 + $max-width;
		margin: 1em auto;

		> p {
			max-width: $max-width / 2;
			text-shadow: 1px 1px 1px $black;
		}
	}

	.mission-statement {
		background: $light-gray;
		padding-top: 2em;
		padding-bottom: 2em;
		font-size: 150%;
		line-height: 2;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.meet-the-pastor {
		@media screen and (min-width: $max-width){
			display: flex;
			align-items: center;
		}
		padding: 2em 1em;

		.pastor-headshot {
			text-align: center;

			img {
				max-width: 200px;
				border-radius: 50%;
			}
		}

		.pastor-short-bio {
			@media screen and (min-width: $max-width){
				width: 80%;
				margin-left: 2em;
			}
		}
	}

	.banners {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		margin: 6em 0;

		@media screen and (min-width: $max-width + ($max-width / 2) ){
			margin-left: -10em;
			margin-right: -10em;
			margin-left: -20vw;
			margin-right: -20vw;
		}

		@media screen and (min-width: $max-width){
			flex-direction: row;
		}

		.banner {
			background: $primary-color;
			width: 100%;
			padding: 4em 1em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: $light-color;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			text-shadow: 1px 1px 1px $black;
			
			@media screen and (min-width: $max-width){
				width: 48%;
				// margin: 0 1%;
			}

			+ .banner {
				margin-top: 2em;

				@media screen and (min-width: $max-width){
					margin-top: 0;
				}

			}
		}

		.banner-title {
			padding: 1em;
			margin: 0;
			font-size: 2.5em;
			font-weight: 700;
			text-align: center;
		}
	}

	.call-to-actions {
		padding-top: 2em;
		padding-bottom: 2em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media screen and (min-width: $max-width){
			flex-direction: row;
		}

		.call-to-action {
			text-align: center;

			+ .call-to-action {
				margin-top: 4em;

				@media screen and (min-width: $max-width){
					margin-top: 0;
				}
			}
		}

		.cta-icon {
			font-size: 4em;
			color: $primary-color;
		}

		.cta-title {
			margin: 0;
		}

	}

	.upcoming-event {
		padding-top: 4em;
		padding-bottom: 4em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@media screen and (min-width: $max-width){
			flex-direction: row;
		}

		@media screen and (min-width: $max-width + ($max-width / 2) ){
			margin-left: -10em;
			margin-right: -10em;
		}

		.event-info {
			margin-left: 2em;
			min-width: 50%;

			.event-title {
				margin: 0;
				color: $primary-color;
				font-weight: 700;

				a {
					text-decoration: none;
				}
			}

			.event-time {
				margin: 0;
			}

			.moretag {
				margin-top: 1em;
			}
		}
	}
}

.know-form {
	padding: 4em 1em;
	background-repeat: no-repeat;
	background-size: cover;

	> * {
		color: $light-color;
	}
}

.know-form-description {
	text-align: center;
	max-width: $max-width;
	margin: 1em auto;
	font-size: 2em;
	font-weight: 700;
}

.know-form .gform_wrapper {
	max-width: $max-width;
	margin: 1em auto;

	input[type="submit"].gform_button {
		@extend .button.light-color;
	}
}

.life-issues-title {
	text-align: center;
	margin: 2em 1em;
}

.life-issues {
	max-width: $max-width + ($max-width/4);
	margin: 1em auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.issue {
		padding-left: 1em;
		padding-right: 1em;
		margin-bottom: 4em;
		min-width: 100%;

		@media screen and (min-width: 500px ){
			min-width: 40%;
			width: 40%;
			padding: 0 2em;
		}

		@media screen and (min-width: $max-width){
			min-width: 30%;
			width: 30%;
		}
	}

	.issue-title {
		font-size: 1.5em;
		font-weight: 700;
	}

	.issue-description {
		margin-bottom: .5em;
	}

	.issue-link {
		display: block;
		text-align: left;
	}
}
