@import "colors";
@import "typography";
@import "structure";


$max-width: 800px;

$dark-gray: #BBBDC0;
$light-gray: #E1E2E4;
$white : #FFF;
$black: #000;

$primary-color: #F27060;

$light-color: $white;
