a {
	color: $primary-color;

	&:visited {
		color: $primary-color;
	}
	&:hover,
	&:focus,
	&:active {
		color: lighten($primary-color, 10%);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}