/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

#masthead {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 1em 1em;
	align-items: center;
	max-width: ($max-width / 2) + $max-width;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	// flex-wrap: wrap;

	.admin-bar & {
		top: 46px;

		@media screen and (min-width: 782px){
			top: 32px;
		}
	}

	@media screen and (min-width: 1000px){
		display: flex;
	}
}

.site-branding {
	width: 16em;

	.site-title a {
		color: $light-color;
		display: block;
		height: 4em;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.site-title {
	margin: 0;
}

.main-navigation {
	flex: 1;
	color: $light-color;
	position: relative;
	min-width: 10em;

	.menu-toggle {
		display: none;
	}

	a {
		color: $light-color;
		text-decoration: none;
		text-transform: uppercase;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	@media screen and (max-width: 999px){

		.menu-toggle {
			display: inline-block;
		}

		#primary-menu {
			min-width: 15em;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			text-align: left;
			background: $primary-color;
			top: 3.5em;
			right: 0.5em;
			padding: 1em;
			transition: all .3s linear;

			&.open {
				visibility: visible;
				opacity: 1;
				z-index: 1000;
			}

			&::before {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				top: -1em;
				right: 1em;
				border-left: 1em solid transparent;
				border-right: 1em solid transparent;
				border-bottom: 1em solid $primary-color;
				// border-top: 5px solid transparent;
			}

			ul {
				margin-left: 1em;
			}

			li {
				padding: .5em 0;

				a { display: block; }
			}

			> li + li {
				border-top: 1px solid $light-color;
			}

			li.menu-item-has-children > a {
				border-bottom: 1px solid $light-color;
				padding-bottom: .5em;
			}
		}
	}

	text-align: right;

	@media screen and (min-width: 1000px){

		> ul > li {
			display: inline-block;
			position: relative;
			padding-bottom: 0.5em;

			@media screen and (min-width: $max-width){
				padding-bottom: 1em;
			}

			@media screen and (min-width: 1000px){
				margin-top: 2em;
				padding-bottom: 2em;
			}

			& + li {
				margin-left: 1em;

				@media screen and (min-width: $max-width){
					margin-left: 1.5em;
				}
			}

			a {
				position: relative;
			}

			&.menu-item-has-children > a:after {
				content: '\f107';
				font-family: 'FontAwesome';
				margin-left: 0.5em;
			}

			&:hover {
				> .sub-menu {
					display: block;
				}

				&.menu-item-has-children > a:before {
					content: '';
					height: 0;
					width: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $light-color;
					position: absolute;
					bottom: -0.75em;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		} // End > ul > li

		.sub-menu {
			position: absolute;
			display: none;
			width: auto;
			white-space: nowrap;
			text-align: left;
			background: $light-color;
			top: 2em;
			z-index: 10;

			li {
				overflow: hidden;

				&.menu-item-has-children > a:after {
					content: '\f105';
					font-family: 'FontAwesome';
					margin-left: 0.5em;
				}
			}

			a {
				display: block;
				color: $primary-color;
				padding: .5em 1em;
				&:hover {
					color: lighten($primary-color, 10%);
				}
			}

			.menu-item-has-children:hover .sub-menu {
				display: block;
				position: absolute;
				left: calc(100% + 0.5em);
				top: 3em;

				&:before {
					content: '';
					height: 0;
					width: 0;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-right: 10px solid $light-color;
					position: absolute;
					left: -0.5em;
					top: 0.5em;
				}
			}
		} // END .sub-menu

	} // END Mobile Media Query
}