.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
	background-color: $primary-color;
	padding: 15% 1em; // 6em;
	text-align: center;
	color: $light-color;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	@media screen and (min-width: $max-width){
		padding: 15% 1em;
	}

	.page-title {
		margin: 0;
		vertical-align: middle;

		&:after {
			content: '';
			height: .125em;
			width: 3em;
			background: $light-color;
			display: block;
			margin: 0 auto;
		}
	}
}

.page, .single {
	.entry-header {
		background-color: $primary-color;
		padding: 15% 1em; //6em;
		text-align: center;
		color: $light-color;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		@media screen and (min-width: $max-width){
			padding: 15% 1em;
		}

		.entry-title {
			margin: 0;
			vertical-align: middle;

			&:after {
				content: '';
				height: .125em;
				width: 3em;
				background: $light-color;
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.entry-content {
	max-width: $max-width;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;

	> p:not(.full-width){
		margin-top: 1em;
	}

	.single & {
		margin-top: 2em;
	}
}

.entry-footer {
	max-width: $max-width;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}

.hr {
	border-bottom: 2px solid;
	width: 6em;
	margin: 1em auto;

	&.primary-color {
		border-color: $primary-color;
	}
}

hr.hr {
	border: none;
	height: 2px;
	background: currentColor;

	&.primary-color-hr {
		background-color: $primary-color;
	}
}

.wide-wrap {
	max-width: ($max-width / 2) + $max-width;
	margin: 0 auto;
}

.hide-on-mobile {
	@media screen and (max-width: $max-width - 1px){
		display: none;
	}
}

.larger {
	font-size: 150%;
}

.primary-color {
	background: $primary-color;
	color: $light-color;
	padding: 1em;

	+ .primary-color {
		margin-top: -1.5em;
	}

	a {
		color: $light-color;
	}
}

.light-gray {
	background: $light-gray;
	// color: $light-color;
	padding: 1em;

	+ .light-gray {
		margin-top: -1.5em;
	}
}

.full-width {
	margin-left: -600em;
	margin-right: -600em;
	padding-left: 600em;
	padding-right: 600em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.primary-color-text {
	color: $primary-color;
}

.document-icon {
	&:before {
		content: '\f15c';
		font-family: 'FontAwesome';
		float: left;
		font-size: 4rem;
		line-height: 1;
		margin-right: 0.25em;
	}
}


.event-cats {
	text-align: center;
	margin: 2em auto;

	.button {
		margin-top: 1em;
		@media screen and (min-width: $max-width){
			margin-top: 0;
		}
	}
	.button + .button {
		margin-left: 1em;
	}
}

#tribe-events {
	margin-top: 2em;

	.tribe-events-single-event-title {
		display: none;
	}
}

.sunday-events-notice {
	max-width: $max-width;
	margin: 0 auto;
	text-align: center;
}

.contact-map {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 540px;
}

.half {
	width: calc(50% - 1em);
	float: left;

	& + .half {
		margin-left: 2em;
	}
}


.countdown-clock {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $primary-color;
	color: $light-color;
	line-height: 1;
	padding-top: .5em;
	padding-bottom: .5em;

	.time {
		// border: 1px solid $light-color;
		padding: .25em .5em;
		text-transform: lowercase;

		& + .time {
			margin-left: 1em;
		}

		.value {
			margin-right: .25em;
			font-weight: 700;
			font-size: 120%;
		}
	}

	.tagline {
		text-transform: uppercase;
		margin-left: 1em;
		padding-right: 1em;
		text-align: right;
	}
}



.blog, .archive {

	.entry-header {
		max-width: $max-width;
		margin: 0 auto;
		padding-left: 1em;
		padding-right: 1em;

		> p:not(.full-width){
			margin-top: 1em;
		}
	}

	.entry-title {
		margin-bottom: 0;

		a {
			text-decoration: none;
		}
	}

	.entry-content {

		.wp-post-image {
			width: 100%;
			height: auto;
			margin-top: 1em;
		}
	}

	.moretag {
		margin-top: 1em;
	}
}

.post-type-archive-podcast {

	.series {
		// margin-left: 1em;
	}

	.entry-meta {
		margin: 1em 0;
	}

	.podcast_meta {
		margin: 1em 0;
	}

	.mejs-container, .mejs-embed, .mejs-container .mejs-controls {
		// background: $primary-color;
	}

}

.single {
	.entry-meta {
		color: $light-color;
		margin-top: 1em;
		
		a {
			color: $light-color;
			text-decoration: none;
		}
	}
	.wp-post-image {
		display: block;
	}
}

.tribe-events-button {
	background: $primary-color;
}

.author-bio {
	display: flex;
	align-items: center;
	margin: 2em 0;
	padding: 1em;
	border: 2px solid $primary-color;
	justify-content: center;
	flex-wrap: wrap;
	// background: $light-gray;

	.avatar {	
		min-width: 25%;
		margin-right: 2em;

		img {
			width: 100%;
			display: block;
			height: auto;
			border-radius: 50%;
		}
	}

	.information {
		flex: 1;
		min-width: 20em;
	}

	.display-name {
		font-size: 2em;
		font-weight: 700;
	}
}

// Blog Prev/Next Post Links
.nav-links {
	display: flex;
	justify-content: space-between;
	max-width: $max-width;
	margin: 0 auto;
	padding: 1em;

	.nav-previous {
		a {
			text-decoration: none;
			display: block;
			transition: all .2s linear;

			&::before {
				content: '\f0a8';
				font-family: 'FontAwesome';
				margin-right: 1em;
			}

			&:hover {
				transform: scale( 1.1 );

				&::before {
					animation-name: bounce-left;
					animation-duration: .5s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				}
			}
		}
	}

	.nav-next {
		a {
			text-decoration: none;
			display: block;
			transition: all .3s linear;

			&::after {
				content: '\f0a9';
				font-family: 'FontAwesome';
				margin-left: 1em;
			}

			&:hover {
				transform: scale( 1.1 );

				&::after {
					animation-name: bounce-right;
					animation-duration: .5s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				}
			}
		}
	}
}

@keyframes bounce-left {
	0% {
		transform: translateX(0.25em);
	}

	100% {
		transform: translateX(-1em);	
	}
}

@keyframes bounce-right {
	0% {
		transform: translateX(-0.25em);
	}

	100% {
		transform: translateX(1em);	
	}
}


